<div class="row" style="height:30rem;border:0.3rem solid #4488c7; margin-right: 5.75rem; margin-left: 5.75rem;">
    <div class="card" style="color: #5b9be6; background-color: #cbe7ff; padding: 0;">
        <div class="card-body" style="text-align: left;">
            <form [formGroup]="updatePicForm" (ngSubmit)="update()" >
                <div class="form-group" style="padding-bottom: 0.3rem; padding-top: 0.3rem; color: #4488c7;">
                    <h4>Geolocation:</h4>
                    <input type="text" formControlName="geolocation" class="form-control" require>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem; color: #4488c7;">
                    <h4>Tags:</h4>
                    <input type="text" formControlName="tags" class="form-control" required/>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem; color: #4488c7;">
                    <h4>Captured Date:</h4>
                    <input type="text" formControlName="captureDate" class="form-control" required/>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem; color: #4488c7;">
                    <h4>Captured By:</h4>
                    <input type="text" formControlName="captureBy" class="form-control" required/>
                </div>
                <button type="submit" [disabled]="!updatePicForm.valid" class="btn btn-primary" style="border: 0.1rem solid rgb(242, 250, 255); position: absolute; bottom: 15px;">
                    Update
                </button>
                <button (click)="cancel()" class="btn btn-primary" style="border: 0.1rem solid rgb(242, 250, 255); position: absolute; bottom: 15px; margin-left: 5.3rem;">
                    Cancel
                </button>
            </form>
        </div>
    </div>
</div>


