<div class="row" style="height:50rem;border:0.3rem solid #4488c7; margin-right: 5.75rem; margin-left: 5.75rem;">
    <div class="card" style="color: #5b9be6; background-color: #cbe7ff; padding: 0;">
        <div class="card-body" style="text-align: left;">
            <file-pond
                    #myPond
                    [options]="pondOptions"
                    (oninit)="pondHandleInit()"
                    (onaddfile)="pondHandleAddFile($event)"
                >
                </file-pond>
            <!-- <form (ngSubmit)="postData()">
                
                <div class="card" style="width: 25rem; height: 25rem;"></div>

                <div class="form-group" style="padding-bottom: 0.3rem; padding-top: 0.3rem;">
                    <input type="text" formControlName="geolocation" class="form-control" required 
                    placeholder="Geolocation"/>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem;">
                    <input type="text" formControlName="tags" class="form-control" required 
                    placeholder="Tags"/>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem;">
                    <input type="text" formControlName="captureddate" class="form-control" required 
                    placeholder="Captured date (dd/mm/yyyy)"/>
                </div>
                <div class="form-group" style="padding-bottom: 11rem;">
                    <input type="text" formControlName="capturedby" class="form-control" required 
                    placeholder="Captured by"/>
                </div>
                <button type="submit" [disabled]="!uploadForm.valid" class="btn btn-primary" style="border: 0.1rem solid rgb(242, 250, 255);">
                    Upload
                </button>
                <div>
                </div>  
            </form> -->
        </div>
    </div>
</div>
