<div style="">
    <div class="row" style="height:50rem;border:0.3rem solid #4488c7; margin-right: 5.75rem; margin-left: 5.75rem;">
        <div class="card" style="color: #5b9be6; background-color: #cbe7ff; padding: 0;">
            <div class="card-body" style="text-align: left;">
                <form [formGroup]="uploadForm" (ngSubmit)="postData(uploadForm)">
                    <!-- <div class="card" style="width: 25rem; height: 25rem;"></div>
                    <div style="padding-bottom: 0.5rem;"></div> -->
                    
                    <input type="text" class="form-control" hidden formControlName="photo">
                    <file-uploader (onFileSelect)="onFileSelect($event)" ></file-uploader>

                    
                    <div class="form-group" style="padding-bottom: 0.3rem; padding-top: 0.3rem;">
                        <input type="text" formControlName="geolocation" class="form-control" required 
                        placeholder="Geolocation"/>
                    </div>
                    <div class="form-group" style="padding-bottom: 0.3rem;">
                        <input type="text" formControlName="tags" class="form-control" required 
                        placeholder="Tags"/>
                    </div>
                    <div class="form-group" style="padding-bottom: 0.3rem;">
                        <input type="text" formControlName="captureDate" class="form-control" required 
                        placeholder="Captured date (dd/mm/yyyy)"/>
                    </div>
                    <div class="form-group" style="padding-bottom: 11rem;">
                        <input type="text" formControlName="captureBy" class="form-control" required 
                        placeholder="Captured by"/>
                    </div>
                    <button type="submit" class="btn btn-primary" style="border: 0.1rem solid rgb(242, 250, 255); position: absolute; bottom: 15px;">
                        Upload
                    </button>
                    <!-- <button (click)="clear()" class="btn btn-primary" style="border: 0.1rem solid rgb(242, 250, 255); position: absolute; bottom: 15px; left: 100px;">
                        Cancel
                    </button> -->
                    <div>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>
