.header {
    height: 5rem;
    width: 100%;
    background-color: #5b8dd6;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2rem;
}

.home-btn {
    font-size: 2rem;
    color: rgb(242, 250, 255);
    padding: 1rem;
    width: 20rem;
    text-align: center;
    border: 0.2rem solid rgb(242, 250, 255);
    text-decoration: none;
    background-color: #5b9be6;
}

.home-btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(46, 132, 202, 1), 0 3px 10px 0 rgba(46, 132, 202, 1);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.home-btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}