<div class="row" style="justify-content: center;">
    <div class="card" style="border-color: #5b9be6; color: #5b9be6; background-color: #cbe7ff; max-width: 50rem; padding: 0">
        <h4 class="card-header" style="background-color: #5b9be6; color: azure; text-align: center;">Sign up</h4>
        <span class="material-icons-outlined" style="color: azure; position: absolute; right: 5px; top: 3px; cursor: pointer;" (click)="goHome()">
            clear
            </span>
        <div class="card-body" style="text-align: center; padding-inline: 15%;">
            <form [formGroup]="signUpForm" (ngSubmit)="signup()" novalidate>
                <div class="form-group" style="padding-bottom: 0.3rem;">
                    <input (keyup)="valueChange()" type="text" formControlName="username" class="form-control" required      
                    placeholder="Username"/>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem;">
                    <input (keyup)="valueChange()" type="text" formControlName="email" class="form-control" required 
                    placeholder="Email"/>
                </div>  
                <div class="form-group" style="padding-bottom: 0.3rem;">
                    <input (keyup)="valueChange()" type="password" formControlName="password" class="form-control" 
                    required
                    placeholder="Password (at least 5 characters)"/>
                </div>
                <div *ngIf="message" class="alert alert-danger">{{message}}</div>
                <!-- <div class="form-group" style="padding-bottom: 0.3rem;"> 
                    <input type="password" formControlName="password-confirm" class="form-control" 
                    required
                    placeholder="Confirm Password"/>
                </div> -->
                
                <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary" style="background-color: #5b9be6; border: 0.1rem solid rgb(242, 250, 255);">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Sign up
                </button>
                <div><button (click)="switchIn()" class = 'btn btn-link' id = 'login' style = 'height: 40px;  margin: 0 auto; color: #2b73c5;' value = 'Need to Login?'>
                    Need to Login?</button></div>  
            </form>
        </div>
    </div>
</div>
