<router-outlet ></router-outlet>

<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<nav class='navbar navbar-expand navbar-dark' style = 'background-color: #5b9be6; justify-content: right; height: 4.5rem;' >
    <p class='navbar-brand' style="color: rgb(242, 250, 255); position: absolute; left: 10px; font-size: 2.9rem; top: -5px; text-shadow: 4px 4px 3px black;">Pictures with Friends</p>
    <ul *ngIf="isAuthenticated" class='navbar-nav ml-auto'>
        <li class='nav-item'><p class='navbar-brand' style="color: azure; margin-top: 15px; margin-right: 3rem;" 
            >Signed in as</p>
        </li>
        <!-- <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['/']" 
            >Homes for Sale</a>
        </li>
        <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['/adverts']" 
            >Sell a House</a>
        </li>
        <li *ngIf='!currentUser' class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" style = "color: azure;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
            </a>
            <div class="dropdown-menu bg-dark mr-auto" aria-labelledby="navbarDropdown">
                <a class='dropdown-item bg-dark' style = "color: azure;" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/login']"
                    >Login</a>
                <a class='dropdown-item bg-dark' style = "color: azure;" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/register']"
                    >Register</a>
            </div>
        </li> -->
        <!-- routerLinkActive='active' [routerLink]="['/']" -->
        <li *ngIf='isAuthenticated' class='nav-item'><a  class='nav-link' (click)="signOut()" style = "color: azure; padding-right: 1rem; margin-top: 15px;" 
            >Sign Out</a>
        </li>
    </ul>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>