<div class="row" style="height:50rem;border:0.3rem solid #4488c7; margin-right: 5.75rem; margin-left: 5.75rem;">
    <div class="card" style="color: #5b9be6; background-color: #cbe7ff; padding: 0;">
        <div class="card-body" style="text-align: left;">
            <form [formGroup]="sharedPicsForm" *ngIf="sharedPhoto" >
                <div class="form-group" style="padding-bottom: 0.3rem;">
                    <img width="400" height="450" [src]="sharedPhoto" >
                </div>
                <!-- <div class="form-group" style="padding-bottom: 0.3rem;" >
                    <h4 class="display" > Geolocation:  {{geolocation}}</h4>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem;" >
                    <h4 class="display" > Tags:  {{tags}}</h4>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem;" >
                    <h4 class="display" > Captured Date:    {{captureDate}}</h4>
                </div>
                <div class="form-group" style="padding-bottom: 0.3rem;" >
                    <h4 class="display" > Captured by:   {{captureBy}}</h4>
                </div> -->
            </form>
            <div *ngIf="!sharedPhoto" class="alert alert-info alert-dismissible fade show">
                No pictures have been shared with you.
            </div>
        </div>
    </div>
</div>


